@import "../common/variables";

.SearchMain {
  margin: 100px auto;
  width: 80%;
  max-width: 900px;
}
.MuiInputBase-root-82:before {
  border-bottom: 2px solid $smokey-blue !important;
}
::placeholder {
  font-size: 25px;
}
.filters {
  margin-top: 20px;
  @include flexbox;
  flex-direction: column;
}
.switchers_container {
  @include flexbox;
  flex-direction: row;
  align-items: center;
  .space-right {
    margin-right: 30px;
    position: relative;
    top: 2px;
  }
}
.search_select-chip {
  width: 104% !important;
}
.input-chip {
  display: block;
}
.btn_search {
  align-self: flex-end !important;
  width: 200px !important;
  margin-top: 30px !important;
}