@import "../common/variables";

.SearchMain {
  margin: 100px auto;
  width: 80%;
  max-width: 900px;
}
.MuiInputBase-root-82:before {
  border-bottom: 2px solid $smokey-blue !important;
}
::placeholder {
  font-size: 25px;
}
.filters {
  margin-top: 20px;
  @include flexbox;
  flex-direction: column;
}
.input-chip {
  display: block;
}
.btn_search {
  align-self: flex-end !important;
  width: 200px !important;
  margin-top: 30px !important;
}