@import "../common/variables";

.updates_container {
  margin-top: 20px;
  margin-bottom: 60px;
  .section__title {
    color: $dirty-pink !important;
    position: relative;
    right: -190px;
    margin-bottom: 20px;
  }
}


.section__title:before {
  content: '';
  width: 500px;
  height: 3px;
  background-color: $dirty-pink;
  position: absolute;
  bottom: 0;
  left: -370px;
}

.grid-container {
  @include flexbox;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  grid-auto-rows: 1fr;
}

.paper-custom {
  width: 300px;
  height: 100px;
  padding: 20px;
  position: relative;
  .link-bottom {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

.shortText {
  display: block;
  height: 38px;
  overflow: hidden;
}

.btn-container {
  @include flexbox;
  justify-content: center;
  position: relative;
  top: 20px;
}