@import "../common/variables";

.updates_container {
  overflow: hidden;
  height: 280px;
  margin-top: 20px;
  .section__title {
    color: $dirty-pink !important;
    position: relative;
    right: -190px;
    margin-bottom: 20px;
  }
}


.section__title:before {
  content: '';
  width: 500px;
  height: 3px;
  background-color: $dirty-pink;
  position: absolute;
  bottom: 0;
  left: -370px;
}

.center {
  @include flexbox;
  align-items: center;
  justify-content: center;
  .space-top {
    position: relative;
    top: 30px;
  }
}

.paper-custom {
  height: 100px;
  padding: 20px;
}
